@import "tailwindcss";

header {
  z-index: 50;
}

:root {
  --black: #0d0d0d;
  --skyblue1: #0a7fd4;
  --skyblue2: #3b82f6;
  --darkblue1: #1a1f2e;
  --gray: #ededed;
  --bluelight: #00509d;
  --darkblue2: #111827;
  --white: #fff;
}
