---
import Header from "../components/Header.astro";
import Inicio from "../components/Inicio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Inicio />
  </main>
</Layout>
