---
import "../styles/global.css";

interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<a href={href} class="nav-link py-2 px-3 rounded-4xl font-medium" ,>
  {name}
</a>

<style>
  .nav-link {
    color: var(--darkblue2);
    transition: color 0.2s;
  }

  .nav-link:hover {
    color: var(--bluelight);
  }

  :global(.nav-link.active) {
    background-color: var(--bluelight);
    color: var(--white) !important;
  }
</style>
