---
import "../styles/global.css";

interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<a
  href={href}
  class:list={[
    "nav-text py-2 px-3 rounded-4xl font-medium",
    { "nav-active": isActive },
  ]}
>
  {name}
</a>

<style>
  .nav-text {
    color: var(--darkblue2);
  }

  .nav-text:hover {
    color: var(--bluelight);
  }

  .nav-active {
    background-color: var(--bluelight);
    color: var(--gray);
  }
</style>
